body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.app {
    width: 100vw;
    height: 100vh;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: row;
}

/* side bar action */
.app .side-bar {
    position: fixed;
    width: 60px;
    height: 100%;
    background-color: #1c1e1f;
    border-right: solid 1px var(--grey-color);
    display: flex;
    flex-direction: column;
}

.tab {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.tab:first-child {
    margin-top: 130px;
}

.tab:last-child {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.tab i {
    font-size: 30px;
    color: var(--grey-color);
    box-shadow: 0 0 5px 5px rgba(236, 236, 236, 0);
}

.tab::after {
    content: "";
    width: 100%;
    height: 90%;
    position: absolute;
    left: -2px;
    background-color: transparent;
    border-right: solid 5px var(--blue-color);
    transition: all 2s ease-in-out;
    display: none;
}

.tab i:hover {
    cursor: pointer;
    color: var(--blue-color);
    transform: scale(140%);
}

.active i {
    color: var(--blue-color);
}

.side-bar .active::after {
    display: block;
}

/* left-bar  */

.left-bar {
    background-color: var(--dark-color);
    width: 300px;
    height: 100%;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    border-right: solid 1px var(--grey-color);
}

.left-bar h1 {
    box-sizing: border-box;
    text-align: left;
    font-size: 26px;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 0px;
    color: white;
}

.left-bar__search {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: var(--dark-grey-color);
    position: relative;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.left-bar__search i {
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    width: 50px;
    text-align: center;
    color: var(--grey-color);
    font-size: 20px;
}

.left-bar__search input {
    position: relative;
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    padding-left: 50px;
    padding-right: 20px;
    background-color: transparent;
    border: 0px;
    border-radius: 4px;
    outline: none;
    font-size: 18px;
    color: white;
}

.left-bar__search input:hover,
.left-bar__search input:focus {
    cursor: pointer;
    border: solid 1px var(--blue-color);
}

.left-bar__chat {
    width: 100%;
    overflow-y: auto;
    height: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* width */
.left-bar__chat::-webkit-scrollbar {
    width: 0px;
}

.contact {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: var(--dark-grey-color);
    color: white;
    border-radius: 4px;
    margin-bottom: 10px;
    transition: all 0.5s ease;
}

.active-contact {
    background-color: var(--blue-color);
}

.contact:hover {
    cursor: pointer;
    background-color: var(--blue-color);
}

.contact__avatar {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact__avatar img {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 2px 1px rgba(20, 20, 20, 0.5);
    outline: none;
}

.contact__avatar .online {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #31a24c;
    top: 55px;
    left: 60px;
    border: solid 1px white;
    position: absolute;
}

.contact__description {
    flex: 1;
    padding: 5px;
}

.contact__name {
    width: 90%;
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.contact__message {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.contact__message p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 300;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.contact__message span {
    text-align: left;
    width: 70px;
    margin-left: 5px;
    font-size: 14px;
    color: var(--grey-color);
    -webkit-line-clamp: 1;
}

.contact__message i {
    position: absolute;
    right: 10px;
    top: -25px;
    font-size: 14px;
    color: var(--grey-color);
}

/* Main */
.main {
    height: 100%;
    /* width: 1000px; */
    flex: 1;
    margin: 0;
    margin-left: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--grey-color);
    position: relative;
}

.main .main-intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--dark-color);
    z-index: 100;
    display: flex;
    justify-content: center;
}

.main-intro p {
    margin-top: 150px;
    color: #fff;
    font-size: 100px;
}

.main .main-intro-hidden {
    display: none;
}

.main .main-top {
    width: 100%;
    height: 100px;
    display: flex;
    box-sizing: border-box;
    padding: 0px 20px;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid var(--grey-color);
}

.main-top__avatar {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-top__avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--grey-color);
}

.main-top__name {
    flex: 1;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-top__name p {
    color: #fff;
    font-size: 24px;
}

.main-top__action {
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-top__action i {
    font-size: 24px;
    margin-left: 20px;
    color: var(--ocean-blue-color);
    opacity: 0.8;
    transition: all 0.5s linear;
}

.main-top__action i:hover {
    cursor: pointer;
    opacity: 1;
}

/* Main content */
.main-content {
    flex: 1;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
}

.main-content .message-group {
    width: 100%;
    padding-top: 0px;
}

.main-content .your-chat {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.main-content .my-chat {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row-reverse;
    position: relative;
}

/* Message status in "my chat" */
.message-status {
    position: absolute;
    bottom: 5px;
    right: -16px;
}

.message-status i {
    font-size: 12px;
    color: var(--blue-color);
}

.main-content .my-chat:not(:last-of-type) .message-status {
    display: none;
}



.message_avatar {
    width: 40px;
}

.message_avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.message-main {
    flex: 1;
    box-sizing: border-box;
    padding-left: 10px;
}

.message__info {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.message__name {
    color: #fff;
    font-size: 18px;
}



.list-messages li {
    position: relative;
    display: flex;
    align-items: center;
    margin: 5px 0px;
    width: auto;
}

.my-chat .list-messages li {
    flex-direction: row-reverse;
}

.list-messages li p {
    color: #fff;
    display: inline;
    font-size: 16px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 0px 4px 4px 4px;
    max-width: 400px;
    display: -webkit-box;
    word-break: break-word;
    line-height: 1.4;
    background-color: var(--dark-grey-color);
}

.message-sent-time {
    position: relative;
    margin-left: 10px;
    right: 0px;
    bottom: 0px;
    background-color: var(--dark-grey-color);
    color: var(--grey-color);
    padding: 6px;
    border-radius: 4px;
    font-size: 12px;
    transition: all 0.5s ease;
    opacity: 0;
}

.my-chat .message-sent-time {
    position: relative;
    left: -10px;
    bottom: 0px;
}

.my-chat .message-error {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: red;
    right: -16px;
    bottom: 1px;

}

.list-messages li img {
    height: 200px;
}

.my-chat .list-messages p {
    background-color: var(--ocean-blue-color);
    border-radius: 4px 0px 4px 4px;
}

.list-messages li p:hover+.message-sent-time {
    opacity: 1;
}

/* main chat */
.main-chat {
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
}

.input-chat {
    width: 100%;
    height: 100%;
    background-color: var(--dark-grey-color);
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: row;
}



.input-chat input {
    flex: 1;
    height: auto;
    border: 0px;
    outline: 0px;
    background-color: transparent;
    padding-left: 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

.input-chat i {
    color: var(--grey-color);
    font-size: 24px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.input-chat i:hover {
    cursor: pointer;
    color: var(--ocean-blue-color);
}

/* Right barr*/
.right-bar {
    /* width: 400px; */
    height: 100%;
}