<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/reset.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home/tabcontact.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="/js/lib/moment.min.js"></script>
    <script src="/js/lib/moment-with-locales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js">
    </script>
    <script src="/js/config.js"></script>
</head>

<body>
<div class="app">
    <!-- 1 ==========SIDE BAR========== -->
    <div class="side-bar">
        <div class="tab" tab-name="tab-home" onclick="switchTab()">
            <i class="fas fa-home"></i>
        </div>
        <div class="tab active" tab-name="tab-message" onclick="switchTab()">
            <i class="fas fa-comment-alt"></i>
        </div>
        <div class="tab" tab-name="tab-contact" onclick="switchTab()">
            <i class="fas fa-address-book"></i>
        </div>
        <div class="tab" tab-name="tab-notifications" onclick="switchTab()">
            <i class="fas fa-bell"></i>
        </div>
        <a class="tab" href="/logout">
            <i class="fas fa-sign-out-alt"></i>
        </a>
    </div>
    <!-- 1   ==========SIDE BAR========== -->

    <!-- 2   ==========MAIN========== -->

    <!-- 2.1 ==========MAIN -> TAB HOME========== -->
    <div class="main-container" id="tab-home"></div>
    <!-- 2.1 ==========MAIN -> TAB HOME========== -->


    <!-- 2.2 ==========MAIN -> TAB MESSAGE========== -->
    <div class="main-container active-flex" id="tab-message">
        <div class="left-bar">
            <h1>My Messages</h1>
            <div class="left-bar__search">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Tìm kiếm" onkeyup="searchConversations()" />
            </div>
            <div class="left-bar__chat" id="list-conversations">

            </div>
        </div>
        <div class="main">
            <div class="main-intro">
                <p>PBL4: BKZALO</p>
            </div>
            <div class="main-top" id="message-tab-main-top">
                <div class="main-top__avatar">
                    <img src="" alt="Avatar" class="" />
                </div>
                <div class="main-top__name">
                    <p></p>
                </div>
                <div class="main-top__action">
                    <i class="fas fa-phone-alt"></i>
                    <i class="fas fa-video"></i>
                    <i class="fas fa-info-circle"></i>
                </div>
            </div>
            <div class="main-content" id="chat-box">

            </div>
            <div class="main-chat">
                <div class="input-chat">
                    <input type="text" placeholder="Message here"
                           name="input-message" id="input-message"
                           onkeydown="CheckEnterToSend()"
                    />
                    <input type="file" id="uploadFiles" name="uploadFiles" hidden="hidden" multiple required/>
                    <button class="fas fa-plus-square" onClick="sendAttachments()"></button>
                    <i class="fas fa-paper-plane" onClick="send()"></i>
                </div>
            </div>
        </div>
        <div class="right-bar">

        </div>
    </div>
    <!-- 2.2 ==========MAIN -> TAB MESSAGE========== -->


    <!-- 2.3 ==========MAIN -> TAB CONTACT========== -->
    <div class="main-container" id="tab-contact">
        <!-- 2.3.1 LEFT BAR -->
        <div class="left-bar">
            <div class="left-bar__top">
                <h1>Danh bạ</h1>
                <div class="left-bar__top-action" onclick="openAddFriend()">
                    <i class="fas fa-user-plus"></i>
                </div>
            </div>

            <div class="left-bar__search">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Tìm kiếm" />
            </div>

            <div class="left-bar__action">
                <div class="action-item action-item-active" onclick="openFriendRequestList()">
                    <div class="action-item__icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <span>Danh sách kết bạn</span>
                </div>
                <div class="action-item" onclick="openGroupList()">
                    <div class="action-item__icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <span> Danh sách nhóm</span>
                </div>
            </div>

            <div class="left-bar__list-contacts" id="list-contacts">

            </div>
        </div>
        <!-- 2.3.1 LEFT BAR -->

        <!-- 2.3.2 MAIN -->
        <div class="main">
            <!-- 2.3.2.1 MAIN - FRIEND REQUEST LIST -->
            <div id="friend-request-list" class="main-wrapper active-block">
                <div class="main-top">
                    <div class="main-top__icon">
                        <i class="fas fa-user-plus"></i>
                    </div>
                    <span class="main-top__action-name">
                            Danh sách kết bạn
                        </span>
                    <div class="main-top__action">
                    </div>
                </div>

                <div class="main-content" id="list-friend-requests">

                </div>
            </div>
            <!-- 2.3.2.1 MAIN - FRIEND REQUEST LIST -->

            <!-- 2.3.2.2 MAIN - GROUP LIST -->
            <div id="group-list" class="main-wrapper">
                <div class="main-top" id="main-top">
                    <div class="main-top__icon">
                        <i class="fas fa-users"></i>
                    </div>
                    <span class="main-top__action-name">
                            Danh sách nhóm
                        </span>
                    <div class="main-top__action">
                        <div action-name="create-group" class="btn btn-primary" onclick="openCreateGroup()">Tạo nhóm
                        </div>
                    </div>
                </div>

                <div class="main-content" id="list-groups">
                    <div class="group-item">
                        <img src="https://images.unsplash.com/photo-1637580981009-c13f27517703?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                             alt="avatar" class="group-item__avatar">
                        <p class="group-item__name">
                            Nhóm đồ án
                        </p>
                        <p class="group-item__info" onclick="membersInGroup()">
                            7 thành viên
                        </p>
                    </div>
                </div>
            </div>
            <!-- 2.3.2.2 MAIN - GROUP LIST -->

            <!-- 2.3.2.3 MAIN - ADD FRIEND -->
            <div id="overlay-add-friend" class="main-overlay">
                <div class="main-overlay__container">
                    <div class="main-overlay__title">
                        Thêm bạn
                    </div>

                    <div class="add-friend__input">
                        <i class="fas fa-phone-alt"></i>
                        <input type="number" placeholder="Nhập số điện thoại" class="add-friend-input"
                               id="add-friend-input" onchange="inputPhoneNumber()">
                    </div>

                    <div class="add-friend__result" id="add-friend-result">
                        Gợi ý kết bạn: coming soon
                    </div>

                    <div class="add-friend__action">
                        <div class="btn btn-secondary">Hủy bỏ</div>
                        <div class="btn btn-primary" id="btn-send-request-friend">Kết bạn</div>
                    </div>
                </div>
            </div>
            <!-- 2.3.2.3 MAIN - ADD FRIEND -->

            <!-- 2.3.2.4 MAIN - MEMBERS IN GROUP -->
            <div action-overlay-name="members-in-group" class="main-overlay">
                <div class="main-overlay__container">
                    <div class="btn-cancel">
                        <i class="fas fa-times"></i>
                    </div>
                    <div class="main-overlay__title">
                        Danh sách thành viên
                    </div>
                    <div class="list-members" id="list-members">

                    </div>
                </div>
            </div>
            <!-- 2.3.2.4 MAIN - MEMBERS IN GROUP -->

            <!-- 2.3.2.5 MAIN - CREATE GROUP -->
            <div id="overlay-create-group" class="main-overlay">
                <div class="main-overlay__container">
                    <div class="main-overlay__title">
                        Tạo nhóm
                    </div>

                    <div class="create-group-wrapper">
                        <div class="form-group">
                            <label for="name-group-create">Tên nhóm</label>
                            <input type="text" id="name-group-create" placeholder="Nhập tên nhóm">
                        </div>

                        <div class="form-group">
                            <label for="url-avatar-group-create">Avatar</label>
                            <input type="text" id="url-avatar-group-create" placeholder="Link hình ảnh">
                        </div>

                        <div class="left-bar__search">
                            <i class="fas fa-search"></i>
                            <input type="text" placeholder="Tìm kiếm bạn bè" />
                        </div>

                        <div class="create-group__list with-scroll">
                            <div class="create-group__list-item">
                                <div class="item__checkbox">
                                    <input type="checkbox" id="create-group-id-1" class="checkbox-input"
                                           name="gender" />
                                    <label for="create-group-id-1" class="checkbox-label">
                                        <i class="fa fa-check"></i>
                                    </label>
                                </div>
                                <div class="item__info">
                                    <img src="https://images.unsplash.com/photo-1637580981009-c13f27517703?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80"
                                         alt="avatar" class="item__avatar">
                                    <p class="item__name">
                                        Nguyễn Văn A
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="create-group__action">
                            <div class="btn btn-secondary">Hủy bỏ</div>
                            <div class="btn btn-primary">Tạo nhóm</div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 2.3.2.5 MAIN - CREATE GROUP -->
        </div>
        <!-- 2.3.2 MAIN -->
    </div>
    <!-- 2.3 ==========MAIN -> TAB CONTACT========== -->


    <!-- 2.4 ==========MAIN -> TAB NOTIFICATION========== -->
    <div class="main-container" id="tab-notifications"></div>
    <!-- 2.4 ==========MAIN -> TAB NOTIFICATION========== -->


    <!-- 2   ==========MAIN========== -->
</div>
</body>
<script th:inline="javascript">
    const dataLogin = (function () {
        /*<![CDATA[*/
        const idUser = /*[[${idUserLogin}]]*/ "idUser";
        /*]]>*/
        return {
            getID() {
                return idUser;
            }
        }
    })();
</script>
<script src="/js/homepage/sidebar.js"></script>
<script src="/js/homepage/tabmessage/home.js"></script>
<script src="/js/homepage/tabmessage/message.js"></script>
<script src="/js/homepage/tabmessage/sendMessage.js"></script>
<script src="/js/homepage/tabcontact/tabContact.js"></script>
</html>