<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGN UP</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/signup.css">
</head>

<body>
    <div class="signup-wrapper">
        <div class="signup-container">
            <form th:action="@{/register}" method="post">
                <div class="signup-form">
                    <h4 class="signup-form-title ">Sign up</h4>
                    <div class="form-group form-group-50">
                        <input type="text" class="form-group-input" placeholder=" " id="firstNameTxt">
                        <label class="form-group-label" for="firstNameTxt">First Name</label>
                    </div>

                    <div class="form-group form-group-50">
                        <input type="text" class="form-group-input" placeholder=" " id="surnameTxt">
                        <label class="form-group-label" for="surnameTxt">Surname</label>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-group-input" placeholder=" " id="phoneNumberTxt">
                        <label class="form-group-label" for="phoneNumberTxt">Phone Number</label>
                    </div>

                    <div class="form-group">
                        <input type="text" class="form-group-input" placeholder=" " id="emailTxt">
                        <label class="form-group-label" for="emailTxt">Email</label>
                    </div>

                    <div class="form-group">
                        <input type="password" class="form-group-input" placeholder=" " id="passwordTxt">
                        <label class="form-group-label" for="passwordTxt">Password</label>
                    </div>
                    
                    <button class="signup-form-btn">Signup</button>
                </div>
            </form>
            <div class="signup-logo">
<!--                 <img src="../images/LOGO - LOGIN.png" alt="PBL4"> -->
            </div>
        </div>
    </div>
</body>

</html>